name: Coverage report

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    name: Coverage Python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Generate coverage report
        run: |
          python -m pip install poetry==1.5.1
          python -m poetry config virtualenvs.in-project true
          poetry install --with dev,test

      - name: Cache the virtualenv
        uses: actions/cache@v3
        with:
          path: ./.venv
          key: ${{ runner.os }}-venv-${{ hashFiles('**/poetry.lock') }}

      - name: Install dependencies
        run: |
          poetry install --with dev,test

      - name: Test with pytest
        run: |
          poetry run python -m pytest --cov --cov-branch --cov-report=xml

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}